/*****
For Extra Small Devices
*****/

@media (max-width: 767px) { 
	#page_header{
		font-size:15px;
		margin-top:20px;
		margin-bottom:30px;
	}

	/* About Page*/
	#about_description{
		margin-bottom: 0px;
	}
	
	#about ul.social-media-links > li{
		display:inline-block;
		padding:0 15px;
	}

	/* Project Pages*/
	.project-details > div{
		padding-top:15px;
	}

	.project-page-footer{
		margin-top:25px;
	}

	#page_footer{
		margin-top:25px; 
	}
}

/*
  Vimeo
*/
@media (max-width: 360px) { 
	.vimeo{
		width: 100%;
		height:200px;
	}
}

@media (min-width: 361px) and (max-width: 991px) { 
	.vimeo{
		width: 100%;
		height:400px;
	}
}

/*
 MixItUp
*/

/* fixes awkward spaces when project title gets too long*/
@media (min-width: 991px) and (max-width: 1200px) { 
	#portfolio .mix {
		min-height:300px;
	}
}

@media (max-width: 500px) { 
	ul.mix-filter > li a {
		font-size: 12px;
	}
	#mix_filters_container{
		padding: 0;
	}
}

@media (max-width: 327px) { 
	#page_content{
		padding: 0;
	}
}