@font-face
{
font-family: futera;
src: url(../fonts/futera/Futura/Futura.ttf) format('truetype');
}

@font-face
{
font-family: futeraBookOblique;
src: url(../fonts/futera/Futura-Book/Futura-BookOblique.ttf) format('truetype');
}

@font-face
{
font-family: futeraBook;
src: url(../fonts/futera/Futura-Book/Futura-Book.ttf) format('truetype');
}

@font-face
{
font-family: frutigerLight;
src: url(../fonts/frutiger/Frutiger-45-Light/Frutiger-Light.ttf) format('truetype');
}

@font-face
{
font-family: heiti;
src: url(../fonts/MHeiHK/MHeiHK-Light.otf) format('opentype');
}

/************
	General
************/
body{
	background: #fff;
	border-top: 9px solid #ecff7f;
	margin:0;
	padding:26px 0 0;
}

p{
	font-family: frutigerLight;
	font-size: 13px;
	color: #000;
}
p.text-futera{
	font-family: futeraBook;
}
p.text-heiti{
	font-family: heiti;
}

p.font-size-15{
	font-size: 15px;
}
p.font-size-12{
	font-size: 12px;
}
a {
	color:#000;
	outline: none;

	-o-transition:color .2s ease-out, background .2s ease-in;
	-ms-transition:color .2s ease-out, background .2s ease-in;
	-moz-transition:color .2s ease-out, background .2s ease-in;
	-webkit-transition:color .2s ease-out, background .2s ease-in;
	transition:color .2s ease-out, background .2s ease-in;
}
a:hover, a:visited, a:link, a:active{
	text-decoration: none;
}

a.active{
	color:#34cdc1 !important;
}

a:hover{
	color:#34cdc1;
	/*text-decoration: none;*/
	outline: none;
}

.strip-padding{
	padding:0 !important;
}

.margin-bottom-5{
	margin-bottom: 5px;
}
.margin-bottom-10{
	margin-bottom: 10px;
}

.margin-bottom-50{
	margin-bottom: 50px;
}

ul{
	list-style: none;
}
/***********
	Header
***********/

#page_header{
	font-family: futeraBookOblique;
	font-size:15px;
	margin-top:20px;
	margin-bottom:100px;
}

#page_header div.header-element{
	margin-top:20px;
}
#page_header a{
	font-family: futeraBook;
	padding:0 9px;
}

#main_logo{
	margin-top:0 !important;
}

#main_logo a{
	padding:0;
}

/***********
	Footer
***********/
#page_footer{
	/* from content */
	margin-top:50px; 

}
.dotted-spaced {
/*    background-image: linear-gradient(to right, #333 20%, rgba(255, 255, 255, 0) 20%);
    background-image: -webkit-linear-gradient(right, #333 20%, rgba(255, 255, 255, 0) 20%);
    background-image: -moz-linear-gradient(right, #333 20%, rgba(255, 255, 255, 0) 20%);
    background-image: -ms-linear-gradient(right, #333 20%, rgba(255, 255, 255, 0) 20%);
    background-image: -o-linear-gradient(right, #333 20%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-size: 10px 2px;
    background-repeat: repeat-x;*/

    border-top: dotted 2px #666;
    padding-top:20px;
}

/**********
	About
***********/
#about .subject{
	font-family: futera;
	font-size: 22px;
}
#about p{
	padding:20px 0;
}
#about ul.social-media-links{
	display: block;
	padding:0;
}
#about ul.social-media-links > li{
	display:inline-block;
	padding:10px 15px;
}

/**************
	Portfolio
**************/
#portfolio .mix{
	display: none;
	margin-bottom:20px;
	cursor: pointer;
	max-height:316px;
}
#portfolio a:hover{
	color: #000;
}
/* Select all first p elements in mix div*/
#portfolio .mix p.font-size-15{
	margin-bottom:2px;
}
#portfolio .mix.commercial img{
	border-bottom: 10px solid #ecff7f
}
#portfolio .mix.arts img{
	border-bottom: 10px solid #34cdc1
}
#portfolio .mix.personal img{
	border-bottom: 10px solid #a3ec6e
}
/*
.tint{
	position: relative;  
    float: left; 
}
.tint:before {  
    content: "";  
    display: block;  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: none;  
    -moz-transition: background 0.3s linear;  
    -webkit-transition: background 0.3s linear;  
    -o-transition: background 0.3s linear;  
    transition: background 0.3s linear;  
    }
.tint:hover:before {  
    background: rgba(236,255,127, 0.6);  
} 

*/
ul.mix-filter{
	display: block;
	padding-bottom:20px;
}
ul.mix-filter > li{
	display:inline-block;
	color:#34cdc1;
}

ul.mix-filter > li a{
	font-family: futeraBook;
	font-size: 15px;
}
ul.mix-filter > li.active a{
	color:#34cdc1;
}

/****************
	Project Page
*****************/
.project-title{
	font-family: futera;
	font-size: 22px;
}
.project-info > ul.line-list{
	/*display: block;*/
	margin:0;
	/*display:table;*/
	/*margin:0 auto;*/
	padding: 0;
}
.project-info > ul.line-list li{
	display: inline-block;
	color:#34cdc1;
}
.project-info > ul.line-list li > p{
	margin:0;
}
.project-title, .project-info{
	padding:10px 0;
}
.project-details > div{
	padding-top:30px;
}

.project-page-footer{
	margin-top:50px;
}

.project-page-footer a {
	display:inline-block;
	height: 32px;
	width: 32px;
	margin:0 6px; 
}
.project-page-footer a.footer-left{
	background-image:url('../img/footer-left-arrow.png');
}
.project-page-footer a.footer-left:hover{
	background-image:url('../img/footer-left-arrow-hover.png');
}

.project-page-footer a.footer-right{
	background-image:url('../img/footer-right-arrow.png');
}
.project-page-footer a.footer-right:hover{
	background-image:url('../img/footer-right-arrow-hover.png');
}
.project-page-footer a.footer-home{
	background-image:url('../img/footer-home.png');
}
.project-page-footer a.footer-home:hover{
	background-image:url('../img/footer-home-hover.png');
}