<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>chip n' chic</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/responsive.css" rel="stylesheet" type="text/css"/>
<link rel="shortcut icon" href="favicon.ico"/>
<!-- END GLOBAL MANDATORY STYLES -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body>

<!-- BEGIN MOBILE NAVBAR -->
<div class="row visible-xs mobile-navbar">
	<div class="col-xs-12 mobile-navbar-links">
		<ul class="list-inline">
			<li><a href="index.html">WORKS</a></li>
			<li><a href="about.html">ABOUT</a></li>
	  </ul>
	</div>
	<div class="col-xs-12 mobile-navbar-toggler">
			<button id="mobile_navbar_toggler" type="button" class="btn">
				<i class="fa fa-bars"></i>
		  	</button>
	</div>
</div>
<!-- END MOBILE NAVBAR -->

<!-- BEGIN PAGE HEADER -->
<div id="page_header" class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-4 col-sm-4 hidden-xs header-element">
					<span class="text-justify">CHIP IS A GRAPHIC<br>DESIGNER.</span>
				</div>
				<div id="main_logo" class="col-md-4 col-sm-4 col-xs-12 header-element">
					<a href="index.html">
						<img src="assets/img/main_logo.png" alt="..." class="img-rounded img-responsive center-block">
					</a>
				</div>
				<div class="col-xs-12 visible-xs text-center" style="font-size:13px;">CHIP IS A GRAPHIC DESIGNER.</div>
				<div class="col-md-4 col-sm-4 hidden-xs text-right header-element">
					<a href="index.html">WORKS</a>
					<a href="about.html">ABOUT</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END PAGE HEADER -->
<!-- BEGIN PAGE CONTENT -->
<div class="container">
	<!-- BEGIN PROJECT PAGE TITLE -->
	<div class="row">
		<div class="col-md-12 text-center project-title">
			Centamark Logo
		</div>
	</div>
	<!-- END PROJECT PAGE TITLE -->

	<!-- BEGIN PROJECT PAGE INFO  -->
	<div class="row">
		<div class="col-md-12 project-info text-center">
			<ul class="line-list">
				<li><p>Category</p></li> 
				<li>&nbsp;/&nbsp;</li>
				<li><p>Commercial</p></li>
			</ul>
			<ul class="line-list">
				<li><p>Role</p></li> 
				<li>&nbsp;/&nbsp;</li>
				<li><p>Identity Design</p></li>
			</ul>
			<ul class="line-list">
				<li><p>Client</p></li> 
				<li>&nbsp;/&nbsp;</li>
				<li><p>TianJin Modern Group</p></li>
			</ul>
			<ul class="line-list">
				<li><p>Agency</p></li> 
				<li>&nbsp;/&nbsp;</li>
				<li><p>Alchemy Asia</p></li>
			</ul>
		</div>
	</div>
	<!-- BEGIN PROJECT PAGE INFO  -->

	<!-- BEGIN PROJECT PAGE DETAILS -->
	<div class="project-details row">
		<div class="col-md-12">
			<img class="img-responsive center-block" src="assets/img/portfolio/centamark/1.jpg" alt="">
		</div>

		<div class="col-md-8 col-md-offset-2 project-description">
			<p class="text-center">Centamark is a high-end multi-purpose development which positions itself as the ‘Pulse of Tianjin’. Keeping this in mind, rhythmic lines are used to create the logo mark ‘M’, evoking a sense of motion and pulse. Also, the huge M provides gravity and helps anchor the brand as the landmark of the city.<br><br><i>This design was one of the options for the client.</i></p>
		</div>
		<div class="col-md-12">
			<img class="img-responsive center-block" src="assets/img/portfolio/centamark/2.jpg" alt="">
		</div>
	</div>
	<!-- END PROJECT PAGE DETAILS -->

	<!-- BEGIN PROJECT PAGE FOOTER -->
	<div class="project-page-footer row">
		<div class="col-md-12 text-center">
			<a href="fountain_valley.html" class="footer-left"></a>
			<a href="index.html" class="footer-home"></a>
			<a href="bookshop.html" class="footer-right"></a>
		</div>
	</div>
	<!-- END PROJECT PAGE FOOTER -->
</div>
<!-- END PAGE CONTENT -->

<!-- BEGIN PAGE FOOTER -->
<div id="page_footer" class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 dotted-spaced">
			<div class="col-md-6 col-sm-6 col-xs-6 text-left">
				<p>© 2014 chip n’ chic.<br>All Rights Reserved</p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 text-right">
				<p>chip@chipnchic.com<br>+852 51822423<p>
			</div>
		</div>
	</div>
</div>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<script src="assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/scripts/layout.js" type="text/javascript"></script>
<script type="text/javascript">

$( document ).ready(function() {
	Layout.init();
});

</script>
</body>
<!-- END BODY -->
</html>
