<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>chip n' chic</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body>

<!-- BEGIN PAGE HEADER -->
<div id="page_header" class="container">
	<div class="row">
		<div class="col-md-4 col-sm-4 hidden-xs text-center">
			CHIP IS A DESIGNER<br>& ART DIRECTOR.
		</div>
		<div id="main_logo" class="col-md-4 col-sm-4 col-xs-12">
			<a href="index.html">
				<img src="assets/img/main_logo.jpg" alt="..." class="img-rounded center-block">
			</a>
		</div>
		<div class="col-xs-12 visible-xs text-center" style="font-size:13px;">CHIP IS A DESIGNER & ART DIRECTOR.</div>
		<div class="col-md-4 col-sm-4 hidden-xs text-center">
			<a href="index.html" class="active">WORKS</a>
			<a href="about.html">ABOUT</a>
		</div>
	</div>
</div>
<!-- END PAGE HEADER -->

<!-- BEGIN PAGE CONTENT -->
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-6 col-md-offset-3 text-center">
				<ul class="mix-filter">
					<li class="filter" data-filter="all">
						 <a href="#">ALL</a>
					</li>
					<li class="filter" data-filter=".commercial">
						&nbsp;&nbsp;/&nbsp;&nbsp;
						 <a href="#">COMMERCIAL</a>
					</li>
					<li class="filter" data-filter=".arts">
						&nbsp;&nbsp;/&nbsp;&nbsp;
						 <a href="#">ARTS & CULTURE</a>
					</li>
					<li class="filter" data-filter=".personal">
						&nbsp;&nbsp;/&nbsp;&nbsp;
						 <a href="#">PERSONAL</a>
					</li>
				</ul>
			</div>
			<div id="portfolio">
				<div class="col-md-4 col-sm-6 col-xs-12 mix commercial">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p1.jpg" alt="">
					<p class="text-futera font-size-15">Kellogg-HKUST EMBA Programme Website</p>
					<p class="font-size-12">Commercial</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix commercial">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p2.jpg" alt="">
					<p class="text-futera font-size-15">DirectAsia.com Robin Hood Campaign</p>
					<p class="font-size-12">Commercial</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix arts">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p3.jpg" alt="">
					<p class="text-futera font-size-15">OutLoud Too</p>
					<p class="font-size-12">Arts & Culture</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix commercial">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p4.jpg" alt="">
					<p class="text-futera font-size-15">The Economist CSR Debate</p>
					<p class="font-size-12">Commercial</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix personal">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p5.jpg" alt="">
					<p class="text-futera font-size-15">Frankenstein</p>
					<p class="font-size-12">Personal</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix commercial">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p6.jpg" alt="">
					<p class="text-futera font-size-15">Mochi Ice 2013 Summer Campaign</p>
					<p class="font-size-12">Commercial</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix personal">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p7.jpg" alt="">
					<p class="text-futera font-size-15">Overturn 翻體</p>
					<p class="font-size-12">Personal</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix commercial">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p8.jpg" alt="">
					<p class="text-futera font-size-15">Fountain Valley Launch Advertisement</p>
					<p class="font-size-12">Commercial</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix commercial">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p9.jpg" alt="">
					<p class="text-futera font-size-15">Fountain Valley Website</p>
					<p class="font-size-12">Commercial</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix arts">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p10.jpg" alt="">
					<p class="text-futera font-size-15">Mindless Mindfulness</p>
					<p class="font-size-12">Arts & Culture</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix commercial">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p11.jpg" alt="">
					<p class="text-futera font-size-15">Centamark Logo</p>
					<p class="font-size-12">Commercial</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix personal">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p12.jpg" alt="">
					<p class="text-futera font-size-15">Invisible & Shadow</p>
					<p class="font-size-12">Personal</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix personal">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p13.jpg" alt="">
					<p class="text-futera font-size-15">Fox and Bear Greeting Cards</p>
					<p class="font-size-12">Personal</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix personal">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p14.jpg" alt="">
					<p class="text-futera font-size-15">Fire 火</p>
					<p class="font-size-12">Personal</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mix arts">
					<img class="img-responsive margin-bottom-10" src="assets/img/portfolio-grid/p15.jpg" alt="">
					<p class="text-futera font-size-15">黃昏旅團 logo</p>
					<p class="font-size-12">Arts & Culture</p>
				</div>
			</div>
		</div>
	</div>	
</div>
<!-- END PAGE CONTENT -->

<!-- BEGIN PAGE FOOTER -->
<div id="page_footer" class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 dotted-spaced">
			<div class="col-md-6 col-sm-6 col-xs-6 text-left">
				<p>© 2014 chip n’ chic.<br>All Rights Reserved</p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 text-right">
				<p>chip@chipnchic.com<br>+852 51822423<p>
			</div>
		</div>
	</div>
</div>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<script src="assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery.mixitup.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	$('#portfolio').mixItUp();
});
</script>
</body>
<!-- END BODY -->
</html>